*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background-color: #df8084
}

.section-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-image: url(../assets/Background1.png);
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
}

.section-logo{
    height: 30px;
}

#imageLogo{
    max-width: 12rem;
    margin: 1% 0 4% 2%;
}


#imageBlackFriday {
    max-width: 700px;
    margin: 2% 0 15% 10%;
}

#imageQuadro {
    display: none;
}

#imageQuadro, #imageMoldura {
    max-width: 600px;
    margin: 2%;
}

.section-container-two {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-container{
    width: 40rem;
    height: 20rem;
    background-color: #a5cbef;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    color: #df8084;
    font-variant: small-caps;
   }

input {
    width: 500px;
    height: 40px;
    text-align: center;
    background-color: #fff;
    color: #ffcf15;
    border-radius: 12px;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    font-variant: small-caps;
    font-style: normal;
    border-radius: 12px;
    margin-bottom: 10px;
    background-color: #ffcf15;
    color: #df8084;
  }

footer {
    height: 100px;
    width: 100%;
    padding-top: 25px;
    text-align: center;
    background-color: #a5cbef;
    color:#df8084;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bolder;
    font-variant: small-caps;
    font-style: normal;
}

#nome{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    font-variant: small-caps;
    font-style: normal;
}

#email{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    font-variant: small-caps;
    font-style: normal;
}

@media screen and (max-width: 480px) {
    .section-container {
        background-image: none;
    }

    #imageQuadro {
        display: flex;
        max-width: 200px;
    }
    .section-container, .section-container-two {
        height: auto;
        flex-direction: column;
        justify-content: center;
    }
    .section-container-two {
        flex-direction: column-reverse;
    }

    #imageBlackFriday {
        max-width: 200px;
        justify-content: left;
    }

    #imageLogo {
        max-width: 50px;
    }      
}